

*{
    margin: 0px;

}body{
    background-image: url(../img/academia3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
   
}
.div_externa_form{
    margin: auto;
    text-align: center;
    background-color: white;
    height: 30%;
    width: 45%;
    position: absolute;
    top: 25%;
    left: 28%;
    opacity: 60%;
    padding-top: 20px;
}.form_camp{
    font-weight: bolder;
    opacity: none;
    padding-top: 10px;
    
    
}input[type ="submit"]{
    
    padding: 5px 20px;
    margin-top: 10px;
}input[type ="submit"]:hover{
    background-color: rgba(14, 130, 231, 0.863);
    border: none;
}